<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div class="navbar">
          <div class="navbar-inner">
              <ul class="nav">
                <li><a href="{{ path('postcard_public_homepage') }}">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{{ path('postcard_postcard_index') }}">Postcards</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
              </ul>
              <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
              </form>
              <ul class="nav pull-right">
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">{{ facebook_login_button({'autologoutlink': true}) }}</a></li>
              </ul>
          </div>
      </div>
      <div class="container">
          {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
          {% block body %}{% endblock %}
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('fos_user_security_logout') }}">Logout</a>
          {% else %}
              <a href="{{ path('fos_user_security_login') }}">Login</a>
              <a href="{{ path('fos_user_registration_register') }}" >Register</a>
          {% endif %}
      </div>
        {% block javascripts %}{% endblock %}
        <script>
          function goLogIn(){
              window.location = "{{ path('_facebook_check') }}";
          }

          function onFbInit() {
              if (typeof(FB) != 'undefined' && FB != null ) {
                  FB.Event.subscribe('auth.statusChange', function(response) {
                      setTimeout(goLogIn, 500);
                  });
              }
          }
        </script>
    </body>
</html>
