<h1>List of all Postcards</h1>
{% for postcard in postcards %}
	<ul>
		<li><a href="{{ path('postcard_postcard_show', { 'id' : postcard.id })}}">{{ postcard.id }}</a></li>
		<li>{{ postcard.title }}</li>
		<li>{{ postcard.location }}</li>
		<li>{{ postcard.body }}</li>
		<li>{{ postcard.picture }}</li>
	</ul>
{% endfor %}
