{% extends '::base.html.twig' %}

{% block body %}
<h1>List of all Postcards</h1>
{% for postcard in postcards %}
	<ul>
		<li><a href="{{ path('postcard_postcard_show', { 'id' : postcard.id })}}">{{ postcard.id }}</a> created at {{ postcard.created|date('d-m-y') }} </li>
		<li>{{ postcard.title }} <strong>send by: {{ postcard.sender }}</strong></li>
		<li>{{ postcard.location }}</li>
		<li>{{ postcard.body }}</li>
		<li>{{ postcard.picture }}</li>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and postcard.isSender(app.user) %}
		<li><a href="{{ path('postcard_postcard_edit', { 'id' : postcard.id }) }}">Edit</a></li>
		<li><a href="{{ path('postcard_postcard_delete', { 'id' : postcard.id }) }}">Delete</a></li>
		{% endif %}
	</ul>
{% endfor %}
<a href="{{path('postcard_postcard_new')}}">Publish your Postcard</a>
{% endblock %}
