<h1>{{ postcard.title }}</h1>
<p>{{ postcard.picture }}</p>
<p>
	{{ postcard.body }}
	<span> Location: {{ postcard.location }} </span>
</p>
<a href="{{ path('postcard_postcard_index')}}">Back to index</a>
