{% extends '::base.html.twig' %}

{% block body %}
<h1>{{ postcard.title }}</h1>
<p>Created on {{ postcard.created|date('d-m-y') }} </p>
<p>Updated on {{ postcard.updated|date('d-m-y') }} </p>
<p><img src="{{ postcard.pictureUri }}" /></p>
<p>
	{{ postcard.body }}
</p>
<p>Location: {{ postcard.location }}<p>
<p>Send by: {{ postcard.sender }}</p>
<p>External link: {{ postcard.pictureUrl }}</p>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and postcard.isSender(app.user) %}
	<p><a href="{{ path('postcard_postcard_edit', { 'id' : postcard.id }) }}">Edit</a></p>
	<p><a href="{{ path('postcard_postcard_delete', { 'id' : postcard.id }) }}">Delete</a></p>
{% endif %}
<a href="{{ path('postcard_postcard_index')}}">Back to index</a>
{% endblock %}
